
void %PREFIXED_CLASS_NAME%::OnRep_%ATTRIBUTE_NAME%(const FGameplayAttributeData& Old%ATTRIBUTE_NAME%)
{
    GAMEPLAYATTRIBUTE_REPNOTIFY(%PREFIXED_CLASS_NAME%, %ATTRIBUTE_NAME%, Old%ATTRIBUTE_NAME%);
}